.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100%;
  width: 100%;

  .header {
    font-size: 3rem;
    font-weight: 800;
    color: white;
  }

  .content {
    width: calc(100% - 40px);
    background-color: rgb(190, 245, 245);
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    align-items: start;
    gap: $px12;
    padding: $px20;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(190, 245, 245);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(0, 121, 151);
      border-radius: 20px;
    }

    .message {
      background-color: white;
      padding: $px8 $px16;
      border-radius: $px8;
      font-size: 1em;
      font-weight: 600;
      max-width: 60%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      text-align: left;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    width: 100%;
    padding: 16px 0px;
    margin: 0px 16px;
    gap: 10px;

    .input {
      flex: 1;
      margin-left: 16px;
      background-color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 8px;
      font-size: 1em;
      font-weight: 600;

      &:focus {
        outline: none;
      }
    }

    .button {
      background-color: #08c2ff;
      color: white;
      padding: 8px 32px;
      margin-right: 16px;
      border-radius: 8px;
      font-weight: 700;
      box-shadow: none;
      cursor: pointer;

      &:active {
        background-color: #098ab5;
      }
    }
  }
}
