.button {
  border: none;
  background-color: #08c2ff;
  color: white;
  padding: $px8 $px32;
  margin-right: $px16;
  border-radius: $px8;
  font-weight: 700;
  cursor: pointer;

  &:active {
    background-color: #098ab5;
  }
}
