.button {
  border: none;
  background-color: #08c2ff;
  color: white;
  padding: 8px 32px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;

  &:active {
    background-color: #098ab5;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.btn-primary {
  font-size: $px32;
  font-weight: 800;
  color: white;
}
