.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100%;
  width: 100%;

  .header {
    font-size: 5rem;
    font-weight: 800;
    color: white;
  }

  .content {
    width: 100%;
    background-color: rgb(190, 245, 245);
    flex-shrink: 0;
    display: flex;
    flex: 1
  }

 .footer {
    background-color: black;
    color: white;
  }
}